.service {
  text-align: center;
  padding: 90px 0;
  background-color: black;
}
.service-title {
  width: 75%;
  margin: 0 auto;
  letter-spacing: 1px;
}
.service-slider {
  margin-top: 20px;
}
.service-slider .item {
  width: 214px;
  height: 230px;
  background-color: white;
  color: #848482;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.service-slider .item i {
  font-size: 50px;
  color: #888888;
}
.service-slider .item p {
  font-size: 14px;
}
.service-slider .item::before {
  content: "";
  height: 0;
  width: 5px;
  background-color: #e62b4a;
  display: block;
  position: absolute;
  top: -100%;
  right: 0;
  transition: all 0.5s;
}
.service-slider .item:hover::before {
  top: 0;
}
.slick-content .slick-dots li button:before {
  color: #ffffff;
  font-size: 14px;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 1;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-content .slick-dots li.slick-active button:before {
  color: #e62b4a;
  opacity: 0.75;
}
