* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Oswald", sans-serif;
  color: white;
}
.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
.title {
  text-align: center;
}
.title p:first-of-type {
  font-size: 14px;
  color: #e62b4a;
  font-weight: 300;
}
.title h2 {
  font-size: 50px;
  font-weight: 400;
}
.title p:last-of-type {
  font-size: 16px;
  color: #888888;
  font-weight: 700;
  margin-top: 20px;
}
.title-black h2 {
  color: black;
}
.title-black p:first-of-type {
  color: #888888;
  font-weight: 400;
}
.btn {
  padding: 20px 30px;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover {
  background-color: #e62b4a;
  border-color: #e62b4a;
}
/* HEADER */
header {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 26px 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.header-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 2rem;
  font-weight: 700;
}
.header-container ul {
  list-style: none;
}
.header-container li {
  display: inline;
  padding: 0 26px;
}
.header-container a {
  color: white;
  text-decoration: none;
}
.header-container li a {
  text-transform: uppercase;
  font-size: 17px;
  transition: all 0.5s;
}
.header-container li a:hover {
  color: #e62b4a;
}
.header-container li.active a {
  color: #e62b4a;
}
/* banner */
.banner {
  background-image: url(../image-video/home_slider.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  text-align: center;
  color: white;
}
.banner-container p {
  font-size: 25px;
}
.banner-container h1 {
  font-size: 75px;
  line-height: 90px;
}
.banner-container button {
  font-size: 16px;
  margin-top: 20px;
  padding: 15px 25px;
  background-color: #e62b4a;
  color: white;
  border: 1px solid #e62b4a;
  cursor: pointer;
  transition: all 0.5s;
}
.banner-container button:hover {
  background-color: #af2239;
}

.banner-scroll i {
  margin-top: 50px;
  font-size: 30px;
  animation: arrow1 1s linear 0s infinite;
}
/* SERVICE */
.service {
  text-align: center;
  padding: 90px 0;
  background-color: black;
}
.service-container {
  width: 75%;
  margin: 0 auto;
  letter-spacing: 1px;
}
.service-slider {
  margin-top: 20px;
}
.service-slider .item {
  /* width: 214px; */
  height: 230px;
  background-color: white;
  color: #848482;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.service-slider .item i {
  font-size: 50px;
  color: #888888;
}
.service-slider .item p {
  font-size: 14px;
}
.service-slider .item::after {
  content: "";
  height: 0;
  width: 5px;
  background-color: #e62b4a;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s linear;
}
.service-slider .item:hover::after {
  height: 100%;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 1;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick .slick-dots li button::before {
  color: #888888;
  font-size: 14px;
}
.slick .slick-dots li button:hover::before {
  color: white;
}
.slick .slick-dots li.slick-active button:before {
  color: #e62b4a;
}
/* BLOG */
.blog {
  padding: 100px 0;
  background-color: #f3f3f3;
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 75%;
  margin: 50px auto 0;
}
.blog-item1 {
  grid-column: 1 / span 2; /* grid-column: 1 / 3; */
  grid-row: 1 / span 2;
}
.blog-item10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.blog-item img {
  width: 100%;
  height: 100%;
  filter: grayscale(50%) contrast(50%);
  object-fit: cover;
  transition: all 0.5s;
}
.blog-item {
  position: relative;
  overflow: hidden;
}
/* .item-container {
  margin-left: 20px;
} */
.overlay-search {
  background-color: rgba(230, 43, 74, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  opacity: 0;
  transition: all 0.5s;
}
.blog-item:hover .overlay-search {
  opacity: 1;
}
.blog-icons {
  position: absolute;
  top: 25px;
  right: 25px;
}
.blog-icons i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #ffffff;
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  transform: translateY(20px);
  transition: all 0.8s;
}
.blog-item:hover .blog-icons i {
  transform: translateY(0);
}
.blog-icons i:hover {
  background-color: #000;
  color: #ffffff;
}
.overlay-text {
  position: absolute;
  left: 25px;
  bottom: 25px;
  transform: translateY(20px);
  transition: all 0.8s;
}
.overlay-text p {
  color: #d0c7c8;
}
.blog-item:hover .overlay-text {
  transform: translateY(0);
}

/* NUMBER */
.number {
  background-color: #000;
  padding: 100px 0;
}
.number-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.number-item {
  width: 25%;
}

.number-item p:first-of-type {
  font-size: 60px;
  font-weight: 300;
}
.number-item p:last-of-type {
  font-size: 20px;
  color: #888888;
}
/* EXPERIENCE */
.experience {
  background-image: url(../image-video/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}
.experience-container {
  width: 75%;
  margin: 30px auto 0;
}
.experience-container video {
  width: 100%;
  object-fit: cover;
  border: none;
  box-shadow: 0 2px 10px 1px rgb(0, 0, 0, 0.5);
  outline: none;
}
.experience-container iframe {
  width: 100%;
  height: 640px;
}
/* CONTACT */
.contact {
  padding: 100px 0;
}
.contact-container {
  width: 70%;
  margin: 30px auto 0;
  display: flex;
  align-items: center;
}
.contact-map {
  width: 60%;
}
.contact-map iframe {
  width: 100%;
}
.contact-form {
  width: 40%;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.contact-form input,
.contact-form textarea {
  font-size: 15px;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 30px;
}
/* FOOTER */
footer {
  background-color: #000;
}
.footer-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.footer-container p {
  font-size: 14px;
}
.footer-container a {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s;
}
.footer-container a:hover {
  background-color: #e62b4a;
}
/* BACKTOTOP */
.backToTop {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;

  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

@keyframes arrow1 {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(40px);
  }
}

@keyframes arrowUpDown {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(40px) rotate(360deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
